body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: grey;

}
.icon {
    position: absolute;
    top: 50px;
    left: 10px;
    cursor: pointer;
}

h4 {
    position:  absolute;
    left: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-right: 1500px solid transparent;
    border-top: 100px solid #ee8172;
    transition: width 2s;
}

.triangle2 {
    position: absolute;
    top: 100px;
    width: 0;
    height: 0;
    border-left: 800px solid rgb(86, 86, 223);
    border-bottom: 300px solid transparent;
    border-top: 300px solid transparent;
}

.triangle3 {
    position: absolute;
    top: 470px;
    width: 0;
    height: 0;
    right:0px;
    border-right: 800px solid rgb(231, 231, 151);
    border-bottom: 400px solid transparent;
    border-top: 400px solid transparent;
}

.triangle4 {
    position: absolute;
    top: 900px;
    width: 0;
    height: 0;
    border-left: 800px solid rgb(133, 221, 122);
    border-bottom: 300px solid transparent;
    border-top: 300px solid transparent;
}

.triangle5 {
    position: absolute;
    top: 1300px;
    width: 0;
    height: 0;
    right:0px;
    border-right: 800px solid #ee8172;
    border-bottom: 350px solid transparent;
    border-top: 350px solid transparent;
}

.triangle6 {
    position: absolute;
    top: 1700px;
    width: 0;
    height: 0;
    border-left: 800px solid rgb(86, 86, 223);
    border-bottom: 300px solid transparent;
    border-top: 300px solid transparent;
}

.triangle7 {
    position: absolute;
    top: 2100px;
    width: 0;
    height: 0;
    right:0px;
    border-right: 800px solid rgb(231, 231, 151);
    border-bottom: 250px solid transparent;
    border-top: 250px solid transparent;
}
.about {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 900px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}
.project {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 1000px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}

img {
    width: 300px;
}

.onePro {
    border: 2px solid grey;
    z-index: 2;
}

a {
    border: 1px solid grey;
    text-decoration: none;
    color: white;
    display: inline;
}
.projects div:nth-child(1){
    position: absolute;
    left: 2%;
    top: 220px;
}
.projects div:nth-child(2){
    position: absolute;
    right: 2%;
    top: 650px;
}
.projects div:nth-child(3){
    position: absolute;
    left: 2%;
    top: 1050px;
}
.projects div:nth-child(4){
    position: absolute;
    right: 2%;
    top: 1500px;
}
.projects div:nth-child(5){
    position: absolute;
    left: 2%;
    top: 1850px;
}
.projects div:nth-child(6){
    position: absolute;
    right: 2%;
    top: 2230px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project {
        left: 300px;
    }
    .about {
        left: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {    
    .project {
        left: 500px;
    }
    .about {
        left: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    .project {
        left: 600px;
    }
    .about {
        left: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .project {
        left: 900px;
    }
    .about {
        left: 800px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .project {
        left: 1200px;
    }
    .about {
        left: 1100px;
    }
}
