body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: grey;

}
.icon {
    position: absolute;
    top: 50px;
    left: 10px;
    cursor: pointer;
}

h4 {
    position:  absolute;
    left: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-right: 1500px solid transparent;
    border-top: 100px solid #ee8172;
    transition: width 2s;
}

.about {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 900px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}
.project {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 1000px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}

img {
    width: 300px;
}
.projects div:nth-child(1){
    position: absolute;
    top: 150px;
}
.projects div:nth-child(2){
    position: absolute;
    right: 5%;
    top: 450px;
}
.projects div:nth-child(3){
    position: absolute;
    top: 750px;
}
.projects div:nth-child(4){
    position: absolute;
    right: 5%;
    top: 1050px;
}
.projects div:nth-child(5){
    position: absolute;

    top: 1350px;
}
.projects div:nth-child(6){
    position: absolute;
    right: 5%;
    top: 1650px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .projects {
        left: 300px;
    }
    .about {
        left: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {    
    .projects {
        left: 500px;
    }
    .about {
        left: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    .projects {
        left: 600px;
    }
    .about {
        left: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .projects {
        left: 900px;
    }
    .about {
        left: 800px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .projects {
        left: 1200px;
    }
    .about {
        left: 1100px;
    }
}
