:root {
    --sfMover: 0px;
    --navGradient: 10%;
    --itemSize: 100px;
    --secondBlockLeft: 550px;
    --profileSize: 600px;
    --nameFontSize: 70px;
    --headlineWidth: 200px;
    --barHeight: 232px;
    --blobWidth: 400px;
    --blobFontSize: 20px;
    --blobTop: 1000px;
    --blobLeft: 600px;
    --profileTop: 700px;
    --desBlockSize: 50px;
    --buttonHeight: 35px;
    --experienceHeight: 650px;
}

body {
    height: 100%;
    margin: 0;
    background-color:  rgb(203, 214, 224);
    overflow-x: hidden;
    /* font-family: 'Roboto', sans-serif;} */
    font-family: 'Manrope', sans-serif;
}

.nav {
    z-index: 10;
    top: 0;
    width: 0px;
    height: 100%;
    position: fixed;
    color: white;
    background: linear-gradient(to right,  rgb(31, 40, 58) var(--navGradient),rgba(255,255,255,0) 100%);
}

.nav:hover {
    --navGradient: 100%;
}

.nav:hover .menu{
    transform: rotate(90deg);
}

.name {
    font-size: 17px;
    font-weight: bolder;
    opacity: 0%;
    width: 40px;
    left: 10px;
    z-index: 3;
    position: fixed;
}

.bigName {
    margin: 0;
    opacity: 100%;
    z-index: 5;
    left: 55px;
    bottom: 15px;
    font-size: 90px;
    color: white;
    position: fixed;
}

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;

  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {

    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  .sf1,.sf2,.sf3,.sf4 {
    width:1440px; 
    height: 773.31px;
    left: 0;
    transform: translate(var(--sfMover));
  }

  .sf5 {
    width:1440px; 
    height: 773.31px;
    left: 0;
    position: absolute;
    transform: translate(var(--sfMover));
  }

  .reveal {
    opacity: 0%;
  }

  .headline {
    padding: 10px;
    padding-left: 0px;
    width: 100%;
    height: var(--headlineWidth);
    background-color: rgb(31, 40, 58);
  }

  #secondHeadline {
      padding: 0;
      margin: 10px rgb(98, 110, 143);
      height: 700px;
      background-color: rgb(172, 191, 216);
  }

  .block {
    padding: 10px;
    padding-left: 0px;
    width: 900px;
    height: 550px;
    background-color: rgb(98, 110, 143);
  }

  #experienceBlock {
      width: 100%;
      height: var(--experienceHeight);
  }
  
  #projectBlock {
    position: relative;
    width: 100%;
    height: 1600px;
    background-color: rgb(31, 40, 58);
  }

  #skillsBlock {
    background-color: rgb(172, 191, 216);
    width: 100%;
    height: 530px;
  }

  .leftBar {
    position: absolute;
    left: 0px;
    background-color: rgb(98, 110, 143);
    width: 100px;
    height: 750px;
  }

  #firstBlock {
    background-color: transparent;
    width: 300px;
  }

  #secondBlock {
      position: absolute;
      left: var(--secondBlockLeft);
      width: 1500px;
      height: 552px;

  }
  .bottomBar {
    position: absolute;
    background-color: rgb(31, 40, 58);
    width: 100%;
    height: var(--barHeight);
    top: calc(1801px - var(--barHeight));
  }

  hr {
    width: 80%;
    border-top: solid 1px white;
    margin-top: 30px;
    margin-bottom: 30px;
}

  .transBlock {
    pointer-events: none;
    width: 100%;
    background-color: transparent;
    height: 231px;
  }

.fixBlock {
    width: 100%;
    height: 10px;
    background-color: rgb(98, 110, 143);
    position: absolute;
    top: 770px;
}

.menu {
    opacity: 0%;
    z-index: 3;
    position: fixed;
    top: 70px;
    left: 10px;
    cursor: pointer;
    transition: transform 1s;
}

.containerOut {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.containerItems {
    padding-left: 75px;
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile {
    position: absolute;
    top: var(--profileTop);
    left: 20px;
    width: var(--profileSize);
}

.iam {
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    color: white;
    margin-left: 95px;
}

.desBlock {
    z-index: 5;
}

.desBlock1 {
    position: absolute;
    border-radius: 1px;
    width: calc(var(--desBlockSize) * 7);
    height: calc(var(--desBlockSize) * 7);
    border: 3px solid white;
    top: 1120px;
    left: 50px;
}

.desBlock2 {
    position: absolute;
    border-radius: 1px;
    width: calc(var(--desBlockSize) * 2);
    height: calc(var(--desBlockSize) * 2);
    border: 1px solid white;
    top: 1650px;
    right: 10px;
}

.desBlock3 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 3);
    height: calc(var(--desBlockSize) * 3);
    background-color: white;
    top: 1600px;
    right: 150px;
}

.desBlock4 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 3);
    height: calc(var(--desBlockSize) * 3);
    border: 5px solid white;
    top: 1550px;
    right: 70px;
}

.desBlock5 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 6);
    height: calc(var(--desBlockSize) * 6);
    border: 1px solid white;
    top: 1300px;
    right: 500px;
}

.desBlock6 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 1);
    height: calc(var(--desBlockSize) * 1);
    background-color: white;
    top: 1700px;
    right: 400px;
}

.desBlock8 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 2);
    height: calc(var(--desBlockSize) * 2);
    border: 10px solid rgb(98, 110, 143);
    top: 1800px;
    right: 10px;
}

.desBlock9 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 2);
    height: calc(var(--desBlockSize) * 2);
    background-color: rgb(98, 110, 143);
    top: 1850px;
    right: 150px;
}

.desBlock10 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 3);
    height: calc(var(--desBlockSize) * 3);
    border: 5px solid rgb(98, 110, 143);
    top: 1880px;
    right: 70px;
}


.desBlock11 {
    position: absolute;
    border-radius: 0px;
    width: calc(var(--desBlockSize) * 1);
    height: calc(var(--desBlockSize) * 1);
    top: 1776px;
    right: 100px;
    background: linear-gradient(to top, rgb(98, 110, 143) 50%, white 0%, white 50%, white 0%);
}

.hi {
    font-size: var(--nameFontSize);
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 95px;
    opacity: 0%;
}

#hi1 {
    left: 0;
    font-weight: 800;
    color: white;
}

#hi2 {
    left: 95px;
    width: 600px;
    font-size: calc(var(--nameFontSize) - 20px);
    color: rgb(98, 110, 143);
}


.hiPre {
    font-size: 20px;
    margin-left: 75px;
    color: white;
}



.blob1 {
    z-index: 5;
    background-color: rgb(98, 110, 143);
    top: var(--blobTop);
    position: absolute;
    font-size: var(--blobFontSize);
    margin-left: var(--blobLeft);
    margin-top: 30px;
    color: white;
    border: 3px solid rgb(31, 40, 58);
    padding: 10px;
    width: var(--blobWidth);
    opacity: 0%;
}

.blob2 {
    z-index: 5;
    top: calc(var(--blobTop) + 200px);
    background-color: rgb(98, 110, 143);
    right: 65px;
    position: absolute;
    font-size: var(--blobFontSize);
    margin-top: 30px;
    color: white;
    border: 3px solid rgb(31, 40, 58);
    padding: 10px;
    width: var(--blobWidth);
    opacity: 0%;
}

.blob3 {
    z-index: 5;
    top: calc(var(--blobTop) + 400px);
    position: absolute;
    font-size: var(--blobFontSize);
    margin-left: var(--blobLeft);
    margin-top: 30px;
    color: white;
    border: 3px solid rgb(31, 40, 58);
    padding: 10px;
    width: var(--blobWidth);
    opacity: 0%;
}

.line1 {
    z-index: 3;
    position: absolute;
    width: 250px;
    right: 161px;
    height: 130px;
    border-top: solid 3px rgb(31, 40, 58);
    border-right: solid 3px rgb(31, 40, 58);
    top: 1100px;
}

.line2 {
    z-index: 3;
    position: absolute;
    width: 235px;
    left: 711px;
    height: 130px;
    border-left: solid 3px rgb(31, 40, 58);
    border-top: solid 3px rgb(31, 40, 58);
    top: 1300px;
}

.item {
    width: var(--itemSize);
    height: var(--itemSize);
    margin: 5px;
    background-size: contain;
    /* background-color: tran; */
    transition: transform 1s;
}

.item:hover {
    transform: scale(1.1);
}

.skillName {
    font-size: 50px;
    margin: 50px;
    margin-top: 170px;
}

.skillIcon {
    padding: 10px;
    margin: 50px;
    width: calc(var(--itemSize) * 2);
    height: calc(var(--itemSize) * 2);
    margin-top: 20px;
}

.skillDescription {
    margin: 50px;
    width: 300px;
}

.workExperienceTit {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin:10px;
    margin-left: 95px;
    margin-top: 0;
}

.spin {
    width: 400px;
    margin-left: 95px;
}

#fourthBlob {
    font-weight: bold;
    color: rgb(31, 40, 58);
    font-size: 20px;
    margin: 0;
    margin-left: 95px;
}

ul {
    list-style-type: none;
    margin-left: 75px;
    color: white;
    font-size: var(--blobFontSize);
}
li {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: transparent;
    padding-left: 40px;
    margin: 40px;
    margin-left: -30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: color .5s;
    cursor: pointer;
}

li:hover {
    color: white;
    text-shadow: none;
}

.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(31, 40, 58);
    margin-top: 5px;
    left: 100px;
}

.desBlock13 {
    border-radius: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(242,80,51);
    top: 2350px;
    right: 150px;
}

.desBlock14 {
    border-radius: 0px;
    width: 100px;
    height: 300px;
    background: linear-gradient(to top, rgb(242,80,51) 50%, white 0%, rgb(98, 110, 143) 50%, rgb(98, 110, 143) 0%);
    top: 2048px;
    right: 70px;
}

.desBlock15 {
    border-radius: 0px;
    width: 70px;
    height: 70px;
    border: 5px solid rgb(242,80,51);
    top: 2320px;
    right: 50px;
}

.desBlock16 {
    border-radius: 1px;
    width: 150px;
    height: 100px;
    border: 3px solid rgb(242,80,51);
    top: 2262px;
    right: 200px;
}

.projectTit {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin:10px;
    margin-left: 95px;
}

.projectImg {
    width: 400px;
}

.projectBlurb {
    margin: 20px;
    color: white;
}

.projectContainer {
    border: 2px solid white;
    margin: 20px;
    height: 400px;
    margin-left: 100px;
}

.projectName {
    margin: 20px;
    color: white;
    font-size: 30px;
}

.repo {
    margin: 20px;
    color: rgb(98, 110, 143);
}

.deployed {
    margin: 20px;
    color: rgb(98, 110, 143);
}

.about {
    cursor: pointer;
    color: white;
    z-index: 3;
    opacity: 0%;
    position: fixed; 
    top: 120px; 
    left: -20px;
}

.projects {
    cursor: pointer;
    color: white;
    z-index: 3;
    opacity: 0%;
    position: fixed; 
    top: 170px; 
    left: -20px;
}

.experience {
    cursor: pointer;
    color: white;
    z-index: 3;
    opacity: 0%;
    position: fixed; 
    top: 220px; 
    left: -20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --sfMover: -500px;
        --secondBlockLeft: 250px;
        --blobLeft: 100px;
        --profileSize: 300px;
        --nameFontSize: 40px;
        --headlineWidth: 100px;
        --barHeight: 500px;
        --blobWidth: 200px;
        --blobFontSize: 15px;
        --blobTop: 1000px;
        --profileTop: 630px;
        --desBlockSize: 30px;
        --itemSize: 50px;
        --experienceHeight: 900px;
    }
    .blob1 {
        width: 100px;
        top: 950px;
        left: 170px;
    }

    .line1 {
        border-top:none;
        left:80px;
    }
    .line2 {
        left: 250px;
        width: 50px;

    }
    .containerOut {
        grid-template-columns: 1fr 2fr;
    }
    .containerItems {
        grid-template-columns: 1fr 1fr;
    }
    .bottomBar {
        top: 1200px;
        background-color: rgb(98, 110, 143);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    :root {
        --sfMover: -350px;
        --secondBlockLeft: 250px;
        --blobLeft: 200px;
        --profileSize: 300px;
        --barHeight: 600px;
        --headlineWidth: 200px;
        --blobWidth: 200px;
        --blobFontSize: 15px;
        --blobTop: 1000px;
        --profileTop: 700px;
        --desBlockSize: 50px;
        --itemSize: 50px;
        --experienceHeight: 700px;
        }  
    .line2 {
        left: 250px;
    } 
    .containerOut {
        grid-template-columns: 1fr 2fr;
    }
    .containerItems {
        grid-template-columns: 1fr 1fr;
    }
    .bottomBar{
        background-color: rgb(98, 110, 143);
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    :root {
        --sfMover: -250px;
        --secondBlockLeft: 250px;
        --blobLeft: 300px;
        --blobWidth: 400px;
        --blobFontSize: 20px;
        --blobTop: 1000px;
        --itemSize: 100px;
        --experienceHeight: 650px;
    }
    .line2 {
        left: 500px;
    }
    .containerItems {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --sfMover: -150px;
        --blobMargin: 850px;
        --secondBlockLeft: 400px;
        --blobLeft: 450px;
        --profileSize: 450px;
        --nameFontSize: 70px;
        --barHeight: 400px;
    }
    .line2 {
        left: 720px;
    }
    .containerOut {
        grid-template-columns: 1fr 1fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    :root {
        --sfMover: 0px;
        --blobMargin: 950px;
        --secondBlockLeft: 550px;
        --blobLeft: 600px;
        --profileSize: 600px;
        --barHeight: 232px;
        
    }
    .line2 {
        border-top: solid 3px rgb(31, 40, 58);
    }
    .bottomBar {
        background-color: rgb(31, 40, 58);
    }
}
