body {
    height: 100%;
    margin: 0;
    background-color:  grey;
    overflow-x: hidden;
}
.icon {
    position: absolute;
    top: 50px;
    left: 10px;
    cursor: pointer;
}

h4 {
    position:  fixed;
    left: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-right: 1500px solid transparent;
    border-top: 100px solid #ee8172;
    transition: width 2s;
}
.triangle2 {
    float: right;
    border-top: 500px;
    width: 0;
    height: 0;
    border-right: 1550px solid rgb(86, 86, 223);
    border-top: 100px solid transparent;
    border-bottom: 700px solid transparent;
}

.triangle3 {
    position:absolute;
    top: 650px;
    width: 0;
    height: 0;
    border-left: 1437px solid rgb(231, 231, 151);
    border-top: 100px solid transparent;
    border-bottom: 500px solid transparent;
}

.triangle4 {
    float: right;
    width: 0;
    height: 0;
    border-right: 1550px solid rgb(133, 221, 122);
    border-top: 100px solid transparent;
    border-bottom: 900px solid transparent;
}

.skills {
    position: absolute;
    top: 1200px;
    right: 300px;
    z-index: 2;
}
@keyframes FadeIn { 
    0% {
      opacity: 50%;
      transform: scale(.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .information li {
    margin: 35px 0;
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
  }
  
  .information li:nth-child(1) { animation-delay: .5s }
  .information li:nth-child(2) { animation-delay: 1s }
  .information li:nth-child(3) { animation-delay: 1.5s }

.information {
    list-style-type: none;
    position: absolute;
    top: 200px;
    right: 35%;
    font-size: 20px;
}

.home {
    position: absolute;
    top: 250px;
    left: 35%;
}

.keyboard {
    position: absolute;
    top: 367px;
    left: 35%;
}

.school {
    position: absolute;
    top: 310px;
    left: 35%;
}

.about {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 900px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}
.projects {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    opacity: 0%;
    position: fixed; 
    left: 1000px;
    top: 20px; 
    background-color:  #ee8172;
    border : 1px solid;
    transition: display 2s;
}

.profile {
    position: absolute;
    width: 200px; 
    right: 5%;
    top: 200px;
}

.majorTit {
    position: absolute;
    top: 1000px;
    left: 300px;
    z-index: 2;
}

.minorTit {
    position: absolute;
    top:900px;
    left: 300px;
    z-index: 2;
}

.schoolTit {
    position: absolute;
    top: 800px;
    left: 300px;
    z-index: 2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .projects {
        left: 300px;
    }
    .about {
        left: 200px;
    }

    .home {
        position: absolute;
        top: 500px;
        left: 100px;
    }
    
    .keyboard {
        position: absolute;
        top: 600px;
        left: 100px;
    }
    
    .school {
        position: absolute;
        top: 550px;
        left: 100px;
    }

    .information{
        top: 450px;
        left: 100px;
        right:auto;
        font-size: 15px;
    }

    .profile {
        width: 200px; 
        right: 20%;
        top: 180px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {    
    .projects {
        left: 500px;
    }
    .about {
        left: 400px;
    }

    .home {
        position: absolute;
        top: 250px;
        left: 10%;
    }
    
    .keyboard {
        position: absolute;
        top: 367px;
        left: 10%;
    }
    
    .school {
        position: absolute;
        top: 310px;
        left: 10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    .projects {
        left: 600px;
    }
    .about {
        left: 500px;
    }

    .home {
        position: absolute;
        top: 250px;
        left: 20%;
    }
    
    .keyboard {
        position: absolute;
        top: 367px;
        left: 20%;
    }
    
    .school {
        position: absolute;
        top: 310px;
        left: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .projects {
        left: 900px;
    }
    .about {
        left: 800px;
    }

    .home {
        position: absolute;
        top: 250px;
        left: 28%;
    }
    
    .keyboard {
        position: absolute;
        top: 367px;
        left: 28%;
    }
    
    .school {
        position: absolute;
        top: 310px;
        left: 28%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .projects {
        left: 1200px;
    }
    .about {
        left: 1100px;
    }

    .home {
        position: absolute;
        top: 250px;
        left: 37%;
    }
    
    .keyboard {
        position: absolute;
        top: 367px;
        left: 37%;
    }
    
    .school {
        position: absolute;
        top: 310px;
        left: 37%;
    }
}
